NODE_ENV="development"
PORT="8888"
JWT_SECRET="this is jwt secret"
HASH_SALT="10"
CORS_ORIGIN= http://localhost:5173

############################ Google Service #################################
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

############################ Facebook Service #################################
FACEBOOK_CLIENT_ID =
FACEBOOK_CLIENT_SECRET =

############################ Database #################################
DATABASE_URL =
